<div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_counter addthis_pill_style"></a>
  <a class="addthis_button_tweet"></a>
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
</div>

<%= #get_feed_list "https://bitbucket.org/ne_sachirou/spinornetwork/rss", 7
%>
<h2>更新履歴</h2>
<ol id="feed"></ol>
<script src="https://www.google.com/jsapi"></script>
<script>
  google.load('feeds', '1');
  function initialize () {
    var feed = new google.feeds.Feed('https://bitbucket.org/ne_sachirou/spinornetwork/rss');

    feed.load(function (result) {
      var len, entry, itemNode, linkNode,
          container = document.getElementById('feed'),
          i = 0;

      if (!result.error) {
        len = result.feed.entries.length;
        for (; i < len; i += 1) {
          entry = result.feed.entries[i];
          linkNode = document.createElement('a');
          linkNode.setAttribute('rel', 'external');
          linkNode.setAttribute('href', entry.link);
          linkNode.appendChild(document.createTextNode(entry.title + ' (' + entry.publishedDate + ')'));
          itemNode = document.createElement('li');
          itemNode.appendChild(linkNode);
          container.appendChild(itemNode);
        }
      }
    });
  }
  google.setOnLoadCallback(initialize);
</script>

<script src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=c4se"></script>
