<h2>Index</h2>
<p><a href="/working?q=SpinorNetwork2">第二曲集SpinorNetwork2の配布を開始しました。此れにてSpinorNetworkは完結です。</a></p>
<p><a href="/working#c100_bunfree14">COMITIA100と第十四回文学フリマの情報を記載しました。</a></p>
<p><a href="/working?q=SpinorNetwork2">第二曲集SpinorNetwork2の情報を記載し始めました。</a></p>
<p><a href="/working#m3spring2012">M3春の情報を記載しました。</a></p>
<p><a href="/working?q=fragments">住人やメンバーの試行を掲載しています。</a> (随時)</p>
<p><a href="/working?q=sikiholm">FuniSayaの関連事項を記しました。</a></p>
<p><a href="/working?q=cpVine">第一曲集cpVineを公開しました。</a></p>
<p><a href="/works">Crainの過去。</a></p>
<p><a href="/members">Crain操作員とSpinorNetworkの住人達。</a></p>


<h2>Events</h2>
<h3>応募済みのイベント</h3>
<ol>
  <li>既に無し</li>
</ol>

<h3>参加予定のイベント</h3>
<ol>
  <li>既に無し</li>
</ol>

<h3>参加済みのイベント</h3>
<ol>
  <li>2012/04/30 Sun. M3-2012春&lt;第29回即売会&gt; <b>L-12a *Lotus Gate</b></li>
  <li>2012/05/05 Sat. COMITIA100 <b>お15a *Lotus Gate</b></li>
  <li>2012/05/06 Sun. 第十四回文学フリマ <b>ウ-44 *Lotus Gate</b></li>
</ol>


<h2>SpinorNetwork</h2>
<p>知りたい。世界の全てを知りたい。音楽の同型は可解群を成すか？　音楽関数の生成はアロー不可能性を持つか？</p>
<blockquote cite="http://theinterviews.jp/lilalosanue/2942444">
  <p>故にこの世は妖怪の天下！</p>
  <p>さあいざ我々の想像する規定された宇宙の領域とそれに殉ずる哀れな民草達が一斉に放棄する時が！</p>
  <p>つまりは創造の行き着く先に息つく暇もなく進歩、そして終わりを見ようとしうるべきである。</p>
  <p>ちる花の如く！尊い犠牲のもとに祝福を受ける事を義務付けられた！</p>
  <p>やかんと昼間とを繰り返す道化の如き修羅、阿修羅のうちに秘めたる意識への解号を！</p>
  <p>んまこし。</p>
  <p>さあ！心理への扉は開かれたのだ！進め！進め！浄土へと追い求める意識の果てへ！</p>
</blockquote>
<p>ももんがー。</p>
<p><img src="/images/mmng1.jpg" alt="百々ん蛾" /></p>
<p>「ももんがに会う為。一、ツアーに呼ばれてはならない。　一、百々ん蛾を仮面とせよ。　一、花の道路を歩け。地図に沿って進んではならない。」</p>
