<h2>Residents</h2>

<blockquote>
  <h3>住民へ連絡</h3>
  <p>Facebookグループ見てね。</p>
</blockquote>

<h3>サキ</h3>
<img src="images/residents_saki_1.png" alt="サキ果し状" />
<p>ムササビ斥候☆おきつね</p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/makiholm">makiholm</a></p>

<h3>ĸëĸy</h3>
<p>ももんが義勇兵☆苗字回収者</p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/ky2g">ky2g</a></p>

<h3>呉川良融</h3>
<p>腦醒モアレ</p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/yoshi_r_kure">yoshi_r_kure</a></p>

<h3>帽子屋</h3>
<p>百々ん蛾☆本当描画師ハードコア</p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/denkyu_getemono">denkyu_getemono</a></p>

<h3>ニョロ美</h3>
<p>臨終の指導者</p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/dohadollynodo">dohadollynodo</a></p>

<h3>小山亮</h3>
<p>おぅいぇあ</p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/koyama_ryo">koyama_ryo</a></p>
<p><span class="iconFacebook"></span>Facebook:<a rel="external" href="https://www.facebook.com/unubole5">unubole5</a>

<hr />

<h2>井上幸亨郎</h2>
<p><span class="iconProfile"></span>Profile: <a href="http://c4se.tk/profile/ne.html">profile/ne</a></p>
<p><img src="/images/ne_crain.png" alt=".｡oO(さっちゃんですよヾ(l _ l〃)ﾉﾞ☆" /></p>
<p>.｡oO(さっちゃんですよヾ(〃l _ l)ﾉﾞ☆ 当Crainマネージャーです。FuniSayaのマネージャーでもあります。c4seリーダーです。)</p>
<p>(本業は〈考える人〉ですってよヾ(l _ l〃)ﾉﾞ)Oo｡.</p>
<p>.｡oO(バカ)</p>
<p>(ももんがは(l _ l〃)？？)Oo｡.</p>
<p>.｡oO((；ﾞﾟ'ωﾟ'）)</p>
<p><a rel="external" href="http://www.fsf.org/campaigns/playogg/en/"><img src="/images/play_ogg_large.png" alt="Play Ogg!"/></a></p>

<h3>Contacts</h3>
<p><a href="mailto:utakata.c4se@gmail.com"><img src="/images/utakata.c4se@gmail.com.png" alt="utakata.c4se@gmail.com" /></a></p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/ne_sachirou">ne_sachirou</a></p>
<p><span class="iconFacebook"></span>Facebook:<a rel="external" href="https:facebook.com/sachirou.inoue">sachirou.inoue</a></p>
<p><span class="iconGplus"></span>Google+: <a rel="external" href="https://plus.google.com/102533286486656909138">Sachirou Inoue</a></p>
<p><span class="iconSkype"></span>skype:<a href="skype:ne_sachirou">ne_sachirou</a></p>


<h2>芙爾沙夜</h2>
<p><span class="iconProfile"></span>Profile: <a href="http://c4se.tk/profile/si.html">profile/si</a></p>
<p>麻井シキともいいます。人類の追い込みbotになります(〃l _ l)ﾉﾞ</p>
<p><img src="/images/funisaya.png" alt="FuniSaya" />←FuniSayaのお抱えリーダーです……。</p>
<p>ヾ(〃l _ l)ﾉﾞ♥♫♩★ヾ(＞ ＜〃)ﾉﾞ☆♬♪♡ヾ(l _ l〃)ﾉﾞ★♬♪♫♩ﾟ+.ヽ(≧▽＜)ﾉ.+ﾟ♫♩♬♪☆</p>

<h3>Contacts</h3>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/lotus_gate">lotus_gate</a></p>
<p><span class="iconFacebook"></span>Facebook: <a rel="external" href="https://www.facebook.com/people/Siki-Asai/100002709828421">麻井シキ</a></p>
<p><span class="iconGplus"></span>Google+: <a rel="external" href="https://plus.google.com/107716734956875041744">Siki Asai</a></p>
<p><span class="iconSkype"></span>skype:<a href="skype:lunatic_faily">lunatic_faily</a></p>
<p><a rel="external" href="http://www.pixiv.net/member.php?id=441228"><img src="/images/pixiv_m441228.png" alt="pixiv" /></a></p>
<p><span class="iconSoundcloud"></span>SoundCloud: <a rel="external" href="http://soundcloud.com/c4se">c4se</a></p>


<h2>村瀬悠太</h2>
<p><span class="iconProfile"></span>Profile: <a rel="external" href="http://concon.yu-yake.com/about.html">夕焼けコンテナ。</a></p>
<p>村瀬です。<b>シャリシャリ</b>したココロを持ちたい。((((((((〃l _ l))</p>
<p><b>((((((((〃l _ l))</b></p>

<h3>Contacts</h3>
<p><a href="http://concon.yu-yake.com/"><img src="images/yucon_banner.png" alt="夕焼けコンテナ。" /></a></p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/murase_yuta">murase_yuta</a></p>
<p><span class="iconFacebook"></span>Facebook: <a rel="external" href="https://www.facebook.com/profile.php?id=100001656428443">Yuta Murase</a></p>
<p><span class="iconGplus"></span>Google+: <a rel="external" href="https://plus.google.com/103815953732346251555">murase yuta</a></p>


<h2>ふぃね</h2>
<p><span class="iconProfile"></span>Profile: <a rel="external" href="http://finelw.web.fc2.com/contents/about.html">らいぶり～すとうぃんど</a></p>
<p>マイペースに寝て暮らしたい、ふぃねです。くうねるあそぶがモットー(l _ l〃)zzz</p>
<p>(=_ヾ)ｸｼｸｼ</p>
<p>(=_ヾ)ﾆｬﾓﾆｬﾓ</p>
<p>【おふ(〃l _ l)とん☆】</p>
<p>【おふ(-ｖ-｡)zzZとん】</p>

<h3>Contacts</h3>
<p><a href="http://finelw.web.fc2.com/"><img src="images/lw_banner.png" alt="らいぶり～すとうぃんど" /></a></p>
<p><span class="iconTwitter"></span>Twitter:<a rel="external" href="https://twitter.com/#!/fine_sss">fine_sss</a></p>
<p><span class="iconSoundcloud"></span>SoundCloud: <a rel="external" href="http://soundcloud.com/fine_lw">fine_lw</a></p>
