<div id="workingContent">
  <%= erb :"_working_#{params[:q] || 'index'}" %>
</div>
<div id="workingSidemenu">
  <h3>Workings List</h3>
  <ol>
    <li><a href="working">Workingトップ</a></li>
    <li><a href="working?q=cpVine">cpVine</a></li>
    <li><a href="working?q=SpinorNetwork2">SpinorNetwork2</a></li>
    <li><a href="working?q=fragments">住人達の闘争</a></li>
    <li><a href="working?q=sikiholm">FuniSaya working on SpnrNtwrk</a></li>
  </ol>
</div>
