<h2>SpinorNetwork2</h2>
<p>第二生成基底：SpinorNetwork2</p>
<p><img src="/images/SpinorNetwork2_front_227x200.png" alt="SpinorNetwork2 front" height="200" width="227" /><img src="images/kyo_front_228x200.png" alt="虚 front" height="200" width="228" /></p>
<p><a href="working?q=cpVine">第一生成基底：cpVine</a>を送り出しSpinorNetworkの深層へと潜っていたCrainは、奇妙な<b>カス</b>を発見した。KrmAKxlI2という名のその<b>カス</b>は、わたしたちと同じ形をしていた。似た姿ではない。<b>同じ</b>だったのだ。KrmAkxlI2はわたしたちがSpinorNetworkへ放った音響楽譜が反射して集まり、像を成したものである。</p>
<p>「ホットミルク、ミルク無しで。」</p>
<p>KrmAkxlI2は、それにしては奇妙な注文をした。わたしたちは右手から注文通りのものをだしてやったが、とても美味そうにはみえない。ちくしょう、草乳くらい入れやがれ。</p>
<p>「それで、わたしは層を見付けたのか。」</p>
<p>「ああ。しかしgggichを見ろ。層が断裂して了っている。」</p>
<p>「はは…。」</p>
<p>KrmAkxlI2は指をなぞらせた。</p>
<p>「聞きなさい。この断裂。これを層にしてみなさい。そうすれば別のものが見えてくる。」</p>
<p>→<a href="/game/">Sp2組み立てキットを入手する</a>。</p>

<h3>SpinorNetwork2 収録楽曲</h3>
<iframe width="420" height="315" src="http://www.youtube.com/embed/EvHpJdJZyWk" frameborder="0" allowfullscreen></iframe>
<p>track 09: gggich</p>
<ol>
  <li>PROGRESS</li>
  <li>yriplik</li>
  <li>KrmAKxlI2</li>
  <li>zumtapa</li>
  <li>妖怪行軍</li>
  <li>logic</li>
  <li>shiptip</li>
  <li>sometime</li>
  <li>gggich</li>
  <li>aighfjag</li>
</ol>
<p>License: CC by <a rel="external" href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="images/cc_by.png" /></a></p>

<h3>虚 収録楽曲</h3>
<p>計58曲 FLAC形式。</p>
<p><a rel="external" href="http://c4se.tk/ku_a2.5_hukyoka.html">不許可</a>の続編です。なんらかの事情で公開を思いとどまった曲や、公開のタイミングを失い未公開になっていた楽曲を、発掘しました。</p>
<h4>Copyleft1700 another (FuniSaya)</h4>
<p></p>
<ol>
  <li>hidden-Lotus (色化2)</li>
  <li>mp2</li>
  <li>rideru mife</li>
  <li>Ginare Ixis</li>
  <li>Malus halliana</li>
  <li>回転する橋梁 2</li>
  <li>摂動法</li>
  <li>krMDtm_slwrv</li>
  <li>Star Tail</li>
</ol>
<h4>kjth (FuniSaya)</h4>
<p></p>
<ol>
  <li>kjth1_0</li>
  <li>kjth1_1</li>
  <li>kjth1_2</li>
  <li>kjth2_0</li>
  <li>kjth2_2</li>
  <li>kjth2_3</li>
  <li>kjth3_1</li>
</ol>
<h4>verzerrte Zynismus (D-moire Type-1)</h4>
<p></p>
<ol>
  <li>ユアンドルフの聖堂</li>
  <li>Kling-Klang (Stone Age mix)</li>
  <li>Distorted fakt</li>
  <li>二重ヶ丘にて</li>
</ol>
<h4>Type-1 Reset (D-moire Type-1)</h4>
<p></p>
<ol>
  <li>Kling-Klang F</li>
  <li>TRK 03</li>
  <li>モノクローム・アンドロイド</li>
  <li>酩酊(collage#2)</li>
  <li>TRK 07</li>
</ol>
<h4>nothing (FuniSaya)</h4>
<p></p>
<ol>
  <li>kvn</li>
  <li>FFtsur</li>
  <li>fine_sss</li>
  <li>water</li>
  <li>yunyun</li>
  <li>pikcjas</li>
</ol>
<h4>虚1 (FuniSaya)</h4>
<p></p>
<ol>
  <li>tempot</li>
  <li>eggroc</li>
  <li>getegete</li>
  <li>KrmAKxlI</li>
  <li>辛くなる実</li>
  <li>Point</li>
  <li>Entsu Tita</li>
  <li>phKbgja</li>
  <li>wertPo2</li>
  <li>純粋な嫉妬</li>
  <li>lapToKatirf</li>
  <li>初心</li>
</ol>
<h4>虚2</h4>
<p></p>
<ol>
  <li>プリズムは妖怪変化</li>
  <li>flow</li>
  <li>lll :Crain Default</li>
  <li>itswa</li>
  <li>げろくすん</li>
  <li>rulottokisiko</li>
  <li>プリズムは妖怪変化 (default)</li>
  <li>東国附子</li>
  <li>Ykpaku</li>
</ol>

<h3>How to Buy?</h3>
<p>名称: <b>SpinorNetwork2</b></p>
<p>内容: SpinorNetwork2 (CD) + 虚 (DVD)</p>
<p>price: <b>1000yen</b></p>
<p>注文は<a rel="external" href="http://c4se.tk/fu_lg.html">*Lotus Gate</a>にて受け付けております。</p>
<p>SpinorNetwork2のデータは無料です→<a href="/game/">Sp2組み立てキットを入手する</a>。</p>
<p><a href="working?q=cpVine">cpVine (SpinotNetwork1)</a>も無料で提供しております。</p>
