<h2>cpVine</h2>
<p>第一生成基底：cpVine</p>
<p><img src="/images/cpVine_front_200.png" alt="cpVine front" /></p>
<p>其は発掘されたものである。SpinorNetworkの深層にcpVineは埋まっていた。</p>
<p>本来、SpinorNetworkに層は無い。然しネットワークの伝達パターンを音響楽譜と見做すことで、擬似的に層を見付けることができる。cpVineは、現在見出しうる最深層のその向こうから<b>やってきた。</b>やってきた、と言うには語弊が有るだろう。其れは微かなスピノール振動として感取された。そこで我々は、この新たなスピノール振動を、音響楽譜として具現化してみせた。然して此れを<b>cpVine</b>と名付けた。</p>
<p>其れと同時に、我々は失敗を悟った。出来上がったcpVineは、スピノール振動として最早ネットワークを成さなかったのだ。ネットワークを成さないものは、異物として速やかに、SpinorNetworkの外部へ排出される。</p>
<p>cpVineは本当に解けるのか？　我々はyusinの鍵を付してcpVineを送り出し、Ancient Citizenを連れて、SpinorNetworkの深層へと潜ることにした。</p>

<h3>収録楽曲</h3>
<p><%= gen_audio_element "http://c4se.tk/music/ku_a7.1_cpVine_demo" %></p>
<ol>
  <li>cp4365</li>
  <li>buzz streaming</li>
  <li>doddfo</li>
  <li>e4651s</li>
  <li>string vine</li>
  <li>xp4365 <i>(cp4365 re-arranged by FuniSaya)</i></li>
</ol>
<p>License: CC by <a rel="external" href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="images/cc_by.png" /></a></p>

<h3>Download Free!</h3>
<ul>
  <li>[<a rel="extrenal" href="http://dl.dropbox.com/u/13307622/cpVine/cpVine.mp3.zip">mp3.zip</a> (44.1kHz 31.8Mb)]</li>
  <li>[<a rel="external" href="http://dl.dropbox.com/u/13307622/cpVine/cpVine.ogg.7z">OggVorbis.7z</a> (48kHz 33.4Mb)]</li>
</ul>
<p>Next→<a href="working/?q=SpinorNetwork2">第二生成基底：SpinorNetwork2</a></p>
