<h2>住人達の闘争</h2>

<h3>lll :Crain Default</h3>
<p>サキ vs. ne_Sachirou</p>
<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/50839&amp;vol=80&amp;action=stop&amp;title=lll :Crain Default&amp;color=000000&amp;textcolor=FFFFFF&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#FFFFFF" quality="high"></div><div><a href="http://tmbox.net/pl/50839" title="lll :Crain Default">総帥ももんが☆♡フルさっちゃん♪:lll :Crain Default</a></div>


<h3>Sakura Mixtape by Himelie</h3>
<p>[FuniSaya in mixtape <a rel="external" href="http://c4se.hatenablog.com/entry/2012/04/04/173754">http://c4se.hatenablog.com/entry/2012/04/04/173754</a> ]</p>
<p>ミックステープにFuniSayaの楽曲を使って頂きました。11曲目です。mp3 file有り。</p>
<div>
  <object type="application/x-shockwave-flash" data="http://s0.wp.com/wp-content/plugins/audio-player/player.swf?m=1309109339g" width="290" height="24" id="audioplayer1">
    <param name="movie" value="http://s0.wp.com/wp-content/plugins/audio-player/player.swf?m=1300810644g"/>
    <param name="FlashVars" value="&bg=0xf8f8f8&leftbg=0xeeeeee&lefticon=0x666666&rightbg=0xcccccc&rightbghover=0x999999&righticon=0x666666&righticonhover=0xffffff&text=0x666666&slider=0x666666&track=0xFFFFFF&border=0x666666&loader=0x9FFFB8&soundFile=http%3A%2F%2Fnachtstrom.fetznetz.it%2Fhimelie.mp3"/>
    <param name="quality" value="high"/>
    <param name="menu" value="false"/>
    <param name="bgcolor" value="#FFFFFF"/>
    <param name="wmode" value="opaque"/>
  </object>
  <div><a rel="external" href="http://thesweetestnoise.com/2012/04/03/sakura-mixtape-by-himelie/">Sakura Mixtape by Himelie</a></div>
</div>


<h3>プリズムは妖怪変化</h3>
<p>帽子屋 vs. 芙爾沙夜</p>
<ol>
  <li>プリズムは妖怪変化 <i>by 帽子屋 + Crain</i></li>
  <li>rulottokisiko <i>by Crain</i></li>
</ol>
<script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/sm17460298"></script><noscript><a href="http://www.nicovideo.jp/watch/sm17460298">【ニコニコ動画】プリズムは妖怪変化</a></noscript>


<h3>Cube 1 / Cube 2</h3>
<iframe width="480" height="360" src="http://www.youtube.com/embed/htEfaNpBFOo" frameborder="0" allowfullscreen></iframe>
<p>[0:00] <b>Cube 1</b></p>
<p>Arranged by FuniSaya</p>
<p>original: C418 "Minecraft" in "Minecraft - Volume Alpha"</p>
<p>Lisence: None</p>
<p>[5:27] <b>Cube 2</b></p>
<p>Original by FuniSaya</p>
<p>Lisence: CC by</p>
