<h2>ツアー展延<a name="c100_bunfree14"></a></h2>
<p>COMITIA100 2012-05-05 (Sat.) <b>*Lotus Gate お15a</b></p>
<p>第十四文学フリマ 2012-05-06 (Sun.) <b>*Lotus Gate ウ-44</b></p>
<p>CD1枚(<a href="working?q=SpinorNetwork2">SpinorNetwork2</a>) 300yen</p>
<p>CD1枚(<a href="working?q=SpinorNetwork2">SpinorNetwork2</a>) + データディスク1枚 [New!] 500yen</p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/EvHpJdJZyWk" frameborder="0" allowfullscreen></iframe>
<embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="400" height="267" flashvars="host=picasaweb.google.com&captions=1&hl=ja&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F102533286486656909138%2Falbumid%2F5739557089915956305%3Falt%3Drss%26kind%3Dphoto%26hl%3Dja" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>


<h2>ツアー出発<a name="m3spring2012"></a></h2>
<p>M3春 2012-04-30 (Mon.) <b>*Lotus Gate L-12a</b></p>
<p>CD2枚(<a href="working?q=SpinorNetwork2">SpinorNetwork2</a> [New!] + <a href="working?q=cpVine">cpVine</a>) 300yen</p>
<blockquote>
  <p>Aygfsnの固有時間がSpinorNetworkとの共変であると判明した今、CrainはAncient Citizenを解凍する。</p>
</blockquote>
<iframe src="http://player.vimeo.com/video/40781839" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


<h2>ツアー予定</h2>
<p>Aygfsnよ。百々ん蛾を被り花の路を隊列成して行け。</p>
<div style="width:425px" id="__ss_11563536">
  <strong style="display:block;margin:12px 0 4px">
    <a rel="extrenal" href="http://www.slideshare.net/sachirouinoue/ss-11563536" title="ももんがツアー" target="_blank">ももんがツアー</a>
  </strong>
  <iframe src="http://www.slideshare.net/slideshow/embed_code/11563536" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
  <div style="padding:5px 0 12px">
    View more <a rel="extrenal" href="http://www.slideshare.net/thecroaker/death-by-powerpoint" target="_blank">PowerPoint</a>
    from <a rel="extrenal" href="http://www.slideshare.net/sachirouinoue" target="_blank">Sachirou Inoue</a>
  </div>
</div>
