<%
  c4se_music_baseurl = 'http://c4se.tk/music'
  ancient_citizen_url = 'http://tohomomotaro.heroku.com/'
%>


<h2>RISE Crain Remix<a name="gecchurapo_rise"></a></h2>

<h3>RISE Crain Remix</h3>
<p><a rel="external" href="http://www.nicovideo.jp/watch/sm13109659">【初音ミク】RISE【オリジナル】</a>をCrainの拳にてリミックスしました。</p>
<p><script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/sm13395043"></script><noscript><a href="http://www.nicovideo.jp/watch/sm13395043">【ニコニコ動画】RISE Crain Remix</a></noscript></p>

<h3>アダニ・ル・エリ</h3>
<p>adanI ru Eriはユーラル語にて、「終末の娘」なる意味です。</p>
<p>上記RISEと同じCDに封入されていた楽曲です。初音ミクボーカロイドエンジンをメインにする事が目標とされておりました。FuniSayaには其れがハードルに成り得ます。</p>
<p><script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/sm13395001"></script><noscript><a href="http://www.nicovideo.jp/watch/sm13395001">【ニコニコ動画】アダニ・ル・エリ</a></noscript></p>


<h2>cp4365<a name="cp4365"></a></h2>

<h3>cp4365</h3>
<p>4365は「コード進行」と云うものの一つです。</p>
<p><iframe src="http://player.vimeo.com/video/15277650?title=0&amp;byline=0&amp;portrait=0" width="420" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>

<h3>xp4365</h3>
<p>cp4365をFuniSayaのテクノロジーに依りリアレンジしました。</p>
<p><%= gen_audio_element "#{c4se_music_baseurl}/xp4365" %></p>


<h2>Ancient Citizen (古の市民)<a name="ancient_citizen"></a></h2>
<p><a href="<%= ancient_citizen_url %>"><img src="/images/ancientCitizen_logo.png" /></a></p>

<h3>Ancient Citizen (東方アレンジ)</h3>
<blockquote>
  <p><img src="/images/ancientCitizen_CD.png" /></p>
  <p>Ancient Citizenを呼び戻せ。Crainの過去は二つに分かたれた。あなたはそれを、修復しなくてはならない。東方世界Toho (Touhou)とわれわれの世界を隔てるパズルを解き、扉をドッキングせよ。</p>
  <p><%= gen_audio_element "#{c4se_music_baseurl}/AncientCitizen_demo" %></p>
</blockquote>
<p><a rel="external" href="http://tohokayamatsuri.sakura.ne.jp/"><img src="/images/tohokayamatsuri_banner.jpg" /></a></p>
<p><b>東方おかやま桃太郎まつり</b>と云う東方Project<i>(シューティングゲームの一種)</i>のファンイベントにて配布したもののweb版です。</p>
<p>二通りの分岐に依りストーリーが補完されます。どちらもパズルに成っています。</p>
<p><a href="<%= ancient_citizen_url %>">Ancient Citizen</a></p>

<h3>Ancient Citizen Remix</h3>
<p><a href="<%= ancient_citizen_url %>"><img src="/images/ancientCitizenRemix_CD.png" /></a></p>
<p>上記Ancient Citizenのリミックスです。同じwebサイトで、同じゴールです。</p>

<h3>ももんがの☆ワクワクドキドキ♪一人旅♡ part1</h3>
<p>上記Ancient Citizenを、FuniSayaのテクノロジーに依りリアレンジした楽曲を含みます。</p>
<p><iframe width="420" height="315" src="http://www.youtube.com/embed/4SireWz1waU" frameborder="0" allowfullscreen></iframe></p>
