<h2>FuniSaya working on SpinorNetwork</h2>
<p>CrainがcpVineの生成に失敗し、SpinorNetworkに潜っていった頃、先行してスピノール群を組み合わせていたFuniSayaは、新たな構成法を発見していた。</p>
<p><img src="/images/funisaya.png" alt="FuniSaya logo" /></p>


<h2><a name="otoniang"></a>男の娘ミュージシャン合同CD 音娘～おとにゃん</h2>
<p>男の娘ミュージシャン合同CD 音娘～おとにゃんに、FuniSayaにて参加しています。</p>
<p><a rel="external" href="http://studionenem.net/otokonoko_dtm.htm"><img src="/images/otokonokoDtm_banner.png" alt="男の娘ミュージシャン合同CD 音娘～おとにゃん" /></a></p>
<blockquote>
  <p>或ることを夢見てSpinorNetworkを旅立った。「その層を超えれば、私の全てが逆転する。」zerakIriaの扉の向こうでは、表は裏になり、裏が表になる。「遂に、遂にだ。」遂にそのペルソナは解き放たれる筈だった。yUsinの鍵を拾うまでは。</p>
  <p> yUsinの鍵は、zerakIriaの扉が未だ存在していない事を示していた。それを作るには、無言が足りない。黙った所で無言とは逆に行っているにすぎない。無言を作るには、ハム音の反射を集めるのがもっとも早い。そこで私は、ハム音が最も早く返ってくる角度を探し始めた。</p>
  <p>そして最後にお茶を一杯(〃l _ l)旦~~</p>
</blockquote>
<p>M3春 2012/04/30 F-10b</p>
<p>(M3春には、当SpinorNetworkが、L-12a *Lotus Gateにても参加しています。)</p>

<h3>製作中デモ</h3>
<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/52382&amp;vol=80&amp;action=stop&amp;title=音娘 demo1&amp;color=000000&amp;textcolor=FFFFFF&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#FFFFFF" quality="high"></div><div><a href="http://tmbox.net/pl/52382" title="音娘 demo1">ふにさやﾉﾞ♪ももんが戦隊グレー:音娘 demo1</a></div>
<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/52565&amp;vol=80&amp;action=stop&amp;title=音娘 demo2&amp;color=000000&amp;textcolor=FFFFFF&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#FFFFFF" quality="high"></div><div><a href="http://tmbox.net/pl/52565" title="音娘 demo2">ふにさやﾉﾞ♪ももんが戦隊グレー:音娘 demo2</a></div>
<p><img src="/images/otoniang.bmx.webp" alt="Screenshot of JeskolaBuzz prohect file." width="480" /></p>


<h2><a name="zenpiren5"></a>第五回全力でピチュれ連盟</h2>
<p>第五回全ピ連 東方短髪娘 ～ShortHairGirls～にFuniSayaにて参加しています。</p>
<p><a rel="external" href="http://fp3.dojin.com/project04/"><img src="/images/zenpiren4-5_banner.png" alt="東方短髪娘" /></a></p>
<blockquote>
  <p>時層録音を残された媒体、〈阿求シックレコード〉を再生するには、展記空間が必要である。展記は仮。仮空の記憶から、時層を再生する空間を、仮を繰り返す実サイクルに依り作りうる。サイクルの名をFuniSayaと言った。</p>
</blockquote>
<p>例大祭 2012/05/27 お-13ab</p>

<h3>製作中デモ</h3>
<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/55431&amp;vol=80&amp;action=stop&amp;title=全ピ連5 阿礼の子供 demo1&amp;color=000000&amp;textcolor=FFFFFF&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#FFFFFF" quality="high"></div><div><a href="http://tmbox.net/pl/55431" title="全ピ連5 阿礼の子供 demo1">ふにさやﾉﾞ♪ももんが戦隊グレー:全ピ連5 阿礼の子供 demo1</a></div>
<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/55716&amp;vol=80&amp;action=stop&amp;title=全ピ連5 阿礼の子供 demo2&amp;color=000000&amp;textcolor=FFFFFF&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#FFFFFF" quality="high"></div><div><a href="http://tmbox.net/pl/55716" title="全ピ連5 阿礼の子供 demo2">ふにさやﾉﾞ♪ももんが戦隊グレー:全ピ連5 阿礼の子供 demo2</a></div>
<p><img src="/images/zenPRen_areiNoKodomo.bmx.webp" alt="Screenshot of JeskolaBuzz prohect file." width="480" /></p>


<h2><a name="kaiTour"></a>東方文界ツアー／東方月界ツアー</h2>
<p>東方文界ツアーに「ニュースハウンド」担当、東方月界ツアーに「月見草」担当で、FuniSayaにて参加しています。</p>
<p><a rel="external" href="http://mameya.ktkr.net/bunnkaitour.html"><img src="/images/bunnkaitour_banner.png" alt="東方文界ツアー" /></a></p>
<p><a rel="external" href="http://mameya.ktkr.net/gekkaitour.html"><img src="/images/gekkaitour_banner.png" alt="東方月界ツアー" /></a></p>
<p>例大祭 2012/05/27 い-45b</p>

<h3>製作中デモ</h3>
<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/60895&amp;vol=80&amp;action=stop&amp;title=界ツアー 月見草 demo1&amp;color=FFFFFF&amp;textcolor=000000&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#000000" quality="high"></div><div><a href="http://tmbox.net/pl/60895" title="界ツアー 月見草 demo1">ふにさやﾉﾞ♪ももんが戦隊グレー:界ツアー 月見草 demo1</a></div>
<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/63031&amp;vol=80&amp;action=stop&amp;title=界ツアー 月見草 demo2&amp;color=FFFFFF&amp;textcolor=000000&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#000000" quality="high"></div><div><a href="http://tmbox.net/pl/63031" title="界ツアー 月見草 demo2">ふにさやﾉﾞ♪ももんが戦隊グレー:界ツアー 月見草 demo2</a></div>
<p><img src="/images/kaiT_tsukimisou.bmx.webp" alt="Screenshot of JeskolaBuzz prohect file." width="480" /></p>

<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/65236&amp;vol=80&amp;action=stop&amp;title=界ツアー ニュースハウンド demo1&amp;color=330000&amp;textcolor=FFFFFF&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#000000" quality="high"></div><div><a href="http://tmbox.net/pl/65236" title="界ツアー ニュースハウンド demo1">ふにさやﾉﾞ♪ももんが戦隊グレー:界ツアー ニュースハウンド demo1</a></div>
<div style=""><embed type="application/x-shockwave-flash" src="http://tmbox.net/flash/FMP3.swf?mp3=http://tmbox.net/output/sound/65248&amp;vol=80&amp;action=stop&amp;title=界ツアー ニュースハウンド demo2&amp;color=330000&amp;textcolor=FFFFFF&amp;loop=no&amp;lma=yes" width="260" height="60" id="FMP3" name="FMP3" bgcolor="#000000" quality="high"></div><div><a href="http://tmbox.net/pl/65248" title="界ツアー ニュースハウンド demo2">ふにさやﾉﾞ♪ももんが戦隊グレー:界ツアー ニュースハウンド demo2</a></div>
<p><img src="/images/kaiT_newshound.bmx.webp" alt="Screenshot of JeskolaBuzz prohect file." width="480" /></p>
