<!DOCTYPE HTML>
<% title = get_title @contents_name %>
<html lang="ja">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title><%= title %> - SpinorNetwork: Crain c4se</title>
  <link rel="home" href="/" />
  <link rel="author" href="http://c4se.tk/profile/ne.html" />
  <link rel="license" title="CC by" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/c4se" />
  <!--<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />-->
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link rel="stylesheet" href="/styles/normalize.css" />
  <link rel="stylesheet" href="/styles/style.min.css" />
</head>
<body>
	<div class="container">
    <header>
      <h1><%= title %></h1>
      <div class="headerLogo">
        <a href="/"><img src="/images/crainLogo.png" alt="Crain - The pseudo Pop musics" /></a>
      </div>
      <nav>
        <%= gen_header_nav @contents_name %>
      </nav>
    </header>
    <div class="main">
      <article>
        <canvas class="barnner"></canvas>
        <div class="contents">
          <%= erb :"_#{@contents_name}" %>
        </div>
      </article>
      <aside>
        <%= erb :_aside %>
      </aside>
    </div>
    <footer>
    <p><a rel="license external" href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="images/cc_by.png" alt="CC by" /></a> 2012 Crain (<a rel="author external" href="http://c4se.tk/profile/ne.html">ne_Sachirou</a>)</p>
      <p><a href="http://c4se.tk/crain.html">Crain - The pseudo Pop musics</a></p>
      <p>Part of <a rel="external" href="http://c4se.tk/">c4se<img src="/images/c4se_48.png" alt="c4se" /></a></p>
    </footer>
  </div>
  <div class="spacerAfterFooter"></div>
  <!--[if lt IE 9]>
    <script src="/scripts/html5.js"></script>
  <![endif]-->
  <script src="/scripts/es5.min.js"></script>
  <!--
  <script src="/scripts/modernizr.min.js"></script>
  -->
  <script src="/scripts/barnner.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2149134-1']);
    _gaq.push(['_setDomainName', 'sakura.ne.jp']);
    _gaq.push(['_setAllowHash', 'false']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
