<meta charset='utf-8' />
<style>
  html, body {
    margin: 0;
    padding: 0;
  }

  #game {
    display: block;
    height: 600px;
    width: 800px;
  }

  #answer {
    box-shadow: 0 0 1px black, 1px 1px 2px black;
    display: none;
    font-size: smaller;
    margin: 1em;
    padding: 5px;
  }

  #footer {
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    font-size: smaller;
    padding: 0.5em 0 0 0.5em;
    position: fixed;
    right: 0;
  }
</style>

<canvas id="game">Use web browsers that can take Canvas API and HTML5 audio.</canvas>
<div id="answer">
  <p>download [<a rel="external" href="https://dl.dropbox.com/u/13307622/SpinorNetwork2/SpinorNetwork2.7z">SpinorNetwork2組立てkit (48kHz 43.2Mb)</a>].</p>
  <p>内容:</p>
  <ul>
    <li>10曲 (OggVorbis形式)</li>
    <li>アートワーク</li>
    <li>CDケース (A4折り紙用PDF)</li>
    <li>CD盤面 (bmp形式 + <a rel="external" href="http://cd.mks-jpn.com/">かんたんデザイン工房</a>形式)</li>
  </ul>
  <p>track08: sometime</p>
  <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/sm18523033"></script><noscript><a href="http://www.nicovideo.jp/watch/sm18523033">【ニコニコ動画】【オリジナル】sometime</a></noscript>
  <p>前編の<b>cpVine</b>はSpinorNetworkからダウンロードいただけます。</p>
  <p>姉妹編の<b>虚</b>はSpinorNetworkからお買い求めいただけます。</p>
  <p> return to <a href="/working?q=SpinorNetwork2">SpinorNetwork2 - SpinorNetwork : Crain</a>.</p>
</div>
<div id="footer">
  return to <a href="/working?q=SpinorNetwork2">SpinorNetwork2 - SpinorNetwork : Crain</a>.
</div>

<script src="/game/UnitePlayer.min.js"></script>
<script src="/game/Sp2game.min.js"></script>
