#workingContent {
  width: 80%;
  float: right;
  border: {
    left: 1px solid #fff;
  }
}

#workingSidemenu {
  width: 19%;
  float: left;

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      width: 100%;
      height: 3em;

      & + li {
        border: {
          top: 1px solid #f99;
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        background: {
          color: #966;
          color: rgba(128, 63, 64, 0.4);
        }
        color: #fff;

        &:hover,
        &:focus {
          background: {
            color: #fff;
            color: rgba(255, 255, 255, 0.4);
          }
          color: #f33;
        }
      }
    }
  }
}
