#workingContent {
  width: 80%;
  float: right;
  border-left: 1px solid #fff; }

#workingSidemenu {
  width: 19%;
  float: left; }
  #workingSidemenu ol {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #workingSidemenu ol li {
      display: block;
      width: 100%;
      height: 3em; }
      #workingSidemenu ol li + li {
        border-top: 1px solid #f99; }
      #workingSidemenu ol li a {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #966;
        background-color: rgba(128, 63, 64, 0.4);
        color: #fff; }
        #workingSidemenu ol li a:hover, #workingSidemenu ol li a:focus {
          background-color: #fff;
          background-color: rgba(255, 255, 255, 0.4);
          color: #f33; }
