@charset 'utf-8';

@mixin icons($order) {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  background: {
    image: url("/images/icons.png");
    repeat: none;
    position: 0 -#{$order * 16}px;
  }
}

@mixin box-shadow($param) {
  -moz-box-shadow: $param;
  -wibkit-box-shadow: $param;
  box-shadow: $param;
}

body {
  background: {
    color: #000;
    image: url("/images/SpinorNetwork_bg.jpg");
    attachment: fixed;
    repeat: no-repeat;
  }
  line-height: 1.2em;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #33f;
  text-decoration: underline;

  &:visited {color: #f3f;}

  &:hover,
  &:active {
    color: #f33;
    text-decoration: underline overline;
  }
}

.iconTwitter {@include icons(0);}
.iconFacebook { @include icons(1);}
.iconSkype { @include icons(2); }
.iconProfile { @include icons(3); }
.iconSoundcloud { @include icons(4); }
.iconLastfm { @include icons(5); }
.iconVimeo { @include icons(6); }
.iconGplus { @include icons(7); }

.container {
  position: relative;
  width: 96%;
  left: 2%;
  top: 1em;
  background: {
    color: #000;
    color: rgba(0, 0, 0, 0.6);
  }
  color: #fff;
  font: {
    size: 10pt;
    family: "TakaoExゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  }
  @include box-shadow(0 0 2px rgba(255, 255, 255, 0.8));
}

header {
  position: relative;
  width: 100%;
  height: 125px;

  .headerLogo {
    position: absolute;
    height: 75px;
    width: 130px;
    top: 0;
    left: 0;
  }

  h1 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
    top: 0.5em;
    left: 0;
    text-align: center;
  }

  nav {
    position: relative;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;

    .item {
      float: left;
      width: 25%;
      height: 100%;
      text-align: center;
      font-size: 11pt;
      @include box-shadow(0 0 2px #000);

      a {
        display: block;
        width: 100%;
        height: 100%;
        background: #c33;
        color: #fff;

        &:hover { background: #c66; }
        &:active { background: #f66; }
      }
    }
  }
}

.main {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;

  &>article {
    float: left;
    position: relative;
    width: 70%;
    top: 0;
    left: 0;
    padding: { left: 0.1em; }
    border: { right: 1px solid #ccc; }

    .barnner {
      display: block;
      width: 432px;
      height: 117px;
    }

    h2 {
      padding: {
        top: 0.5em;
        bottom: 0.5em;
        left: 0.5em;
      }
      background: #101010;
      border: {
        top: 1px dotted #999;
        radius: 6px;
      }
      color: red;
      text-shadow: 0 0 2px #ccc;
      @include box-shadow(0 -1px 0 #fff);
    }

    h3 {
      padding: {
        top: 0.2em;
        left: 0.2em;
      }
      color: yellow;
      text-shadow: 1px 1px 2px #999;
    }

    blockquote {
      background: {
        color: #101010;
        color: rgba(16, 16, 16, 0.4);
        image: url("/images/mmng2.png");
        position: right bottom;
      }
      padding: 12px;
      border: { radius: 12px; }
      color: #ffc;
    }
  
    .contents {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
  
  &>aside {
    float: right;
    position: relative;
    top: 0;
    right: 0;
    width: 29%;

    h2 {
      font: {
        size: large;
        weight: bold;
      }
    }
  }
}

footer {
  clear: both;
  position: relative;
  border: { top: 1px solid #ccc; }
  font: { size: smaller; }
  text-align: right;
}

.spacerAfterFooter {
  position: relative;
  top: 1em;
  height: 1em;
}

@media screen and (min-width: 0px) and (max-device-width: 480px) {
  body {
    font: { size: 12pt; }
  }

  img, canvas { max-width: 100%; }

  .container {
    width: 100%;
    left: 0;
  }

  header {
    height: auto;

    h1 { line-height: 1.2em; }

    .headerLogo {
      width: 50px;
      height: 29px;
    }

    nav .item {
      float: none;
      width: 100%;
      height: 25px;
    }
  }

  .main {
    &>article,
    &>aside {
      float: none;
      width: 100%;
      top: auto;
      left: auto;
      right: auto;
    }

    .barnner {display: none!important; }

    .contents {top: 117px!important; }
  }
}

@import "working"
